* {
  --dark-background: #1f293f;
  --main-text: #f9faf8;
  --secondary-text: #e5e7eb;
  --light-blue: #3882f6;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--main-text);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

/*! HEADER */
.header {
  background-color: var(--dark-background);
}

.inside {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-bottom: 80px;
}

/*! NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 24px;
}

.nav-menu {
  display: flex;
  gap: 24px;
  list-style-type: none;
}

.nav-link {
  color: var(--secondary-text);
  text-decoration: none;
}

/*! HERO */
.hero-section {
  display: flex;
  gap: 65px;
}

.hero-subsection-1 {
}

.hero-title {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
  line-height: 1;
}

.hero-subtext {
  font-size: 18px;
  color: var(--secondary-text);
  margin: 0;
  text-align: justify;
}

.hero-button {
  color: var(--main-text);
  background-color: var(--light-blue);
  padding: 8px 20px;
  border: none;
  border-radius: 0.5em;
  margin-top: 4px;
}

.hero-sub-section-2 {
}

.hero-image {
  width: 450px;
  height: auto;
}

/*! Main */
.content {
  flex: 1;
}

/*! Section 1 */
.section-1 {
  padding: 0 0 60px 0;
}

.section-1-title {
  font-size: 36px;
  font-weight: 900;
  color: var(--dark-background);
  text-align: center;
}

.box-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 0;
}

.box-img {
  border-radius: 0.5em;
  border: 3px solid var(--light-blue);
}

.box-text {
  color: rgb(70, 70, 70);
  text-align: center;
  font-style: italic;
  margin-top: 5px;
}

/*! Section 2 */
.section-2 {
  background-color: var(--secondary-text);
}

.inside-section-2 {
  max-width: 760px;
  margin: 0 auto;
  padding: 60px 0;
  text-align: justify;
}

.quote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
  margin-bottom: 0;
}

.author {
  color: var(--dark-background);
  font-weight: bold;
  text-align: right;
  margin-top: 0;
}

/*! Section 3 */
.section-3 {
  margin: 60px auto;
}

.inside-section-3 {
  background-color: #3882f6;
  max-width: 1000px;
  border-radius: 0.5em;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.section-3-title,
.section-3-text {
  margin: 0;
}

.section-3-button {
  color: var(--main-text);
  background-color: #3882f6;
  border: 1px solid var(--main-text);
  border-radius: 0.5em;
  padding: 0 30px;
  height: 30px;
}

/*! Footer */
.footer {
  text-align: center;
  background-color: var(--dark-background);
  padding: 15px 0;
}
